.card {
    width: 80%;
    border: 2px solid black;
    border-radius: 7px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.address_block {

}
.text {
    margin: 3px 0;
}
.icons_block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.icon {
    margin: 10px;
    cursor: pointer;
}
.main_address {
    color: #8d8d8d;
}
@media (max-width: 1200px) {
    .card {
        width: 100%;
    }
}