.toggle_btn {
    border: none;
    outline: none;
    text-decoration: underline;
    background: transparent;
    font-size: 14px;
    color: #727272;
    transition: 0.3s;
    margin-top: 0;
}
.toggle_btn:hover {
    color: #444444;
}
.close {
    display: flex;
    justify-content: flex-end;
}
.ruller {
    width: 50px;
    margin-bottom: 0px;
}
.text_block {
    text-align: center;
    margin: 30px 50px;
}
.header {
    font-size: 16px;
    font-weight: 700;
}
.text {
    font-size: 14px;
}
.photo {
    height: 200px;
    position: relative;
    text-align: center;
}
.description {
    font-size: 16px;
    margin-bottom: 20px;
}
.link {
    color: black;
    text-decoration: underline;
    cursor: pointer;
}
.link:hover {
    color: black;
}
.faq_block {
    padding: 0;
    margin-bottom: 30px;
    text-align: left;
}
@media (max-width: 1000px) {
    .toggle_btn {
    }
    .text_block {
        margin: 0;
    }
}