.cont {
    margin-top: 160px;
}
.link {
    background: black;
    color: white;
    display: block;
    border: none;
    outline: none;
    border-radius: 7px;
    width: fit-content;
    text-align: center;
    text-decoration: none;
    padding: 7px 100px;
    margin: 20px 0;
}
@media (max-width: 1000px) {
    .cont {
        margin-top: 70px;
        margin-bottom: 60px;
    }
}