.cont {
    width: 80%;
}
.title {
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    margin-bottom: 30px;
}
.cards_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.link {
    background: black;
    color: white;
    display: block;
    border: none;
    outline: none;
    border-radius: 7px;
    width: fit-content;
    text-align: center;
    text-decoration: none;
    padding: 7px 100px;
}
.orders_block {
    margin-bottom: 50px;
}
.faq_block {
    padding: 0 10%;
    margin-bottom: 30px;
}
.link_text {
    text-decoration: underline;
    cursor: pointer;
}
@media (max-width: 1200px) {
    .cont {
        width: 100%;
    }
    .faq_block {
        padding: 0;
    }
    .questions_text {
        font-size: 16px;
    }
}