.cont {
    width: 70%;
}
.title {
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
}
.main_block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@media (max-width: 1200px) {
    .cont {
        width: 100%;
    }
}