.cont {
    margin-top: 100px;
    min-height: 35vh;
}
.alphabet_block {
    position: sticky;
    top: 140px;
    background: white;
    padding: 20px 0;
    transition: 0.3s;
}
.alphabet {
    display: flex;
}
.letter {
    border: none;
    outline: none;
    text-decoration: none;
    text-align: center;
    color: black;
    width: 100%;
    background: white;
    cursor: pointer;
    transition: 0.3s;
}
/*.letter:hover {*/
/*    background: #E6E6E6;*/
/*}*/
.letter:disabled {
    opacity: 0.5;
}
.main_block {
    display: flex;
}
.search_block {
    position: sticky;
    top: 195px;
    width: 300px;
    padding-top: 10px;
    padding-right: 30px;
    transition: 0.3s;
}
.big_letter {
    display: block;
    width: 100%;
    margin-top: 40px;
}
.brands_block {
    display: flex;
    flex-wrap: wrap;
}
.brand {
    width: 30%;
    display: flex;
    align-items: center;
    margin: 20px 20px 20px 0;
}
.brand_link {
    text-decoration: none;
    color: black;
}
.like {
    cursor: pointer;
    margin: 0 10px;
}
.auth_btn {
    outline: none;
    border: none;
    background: black;
    color: white;
    margin: 10px 0;
    padding: 6px;
    border-radius: 7px;
}
.link {
    color: #9a9999;
}
.text {
    margin-top: 20px;
}
.scrollable_block {
    position: relative;
    overflow: hidden;
    width: 100vw;
    padding: 0 15px;
}
.scrollable_container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
.scrollable_container::-webkit-scrollbar {
    display: none;
}
.scrollable_container {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}
@media (max-width: 1200px) {
    .cont {
        margin: 50px 0 0 0;
        padding: 15px;
    }
    .alphabet {
        flex-wrap: nowrap;
    }
    .alphabet_block {
        position: fixed;
        left: 0;
        top: 0;
        z-index: 7;
    }
    .letter {
        width: 50px;
        margin: 0 0px;
        white-space: nowrap;
    }
    .main_block {
        display: block;
        width: 100%;
    }
    .search_block {
        width: 100%;
        text-align: center;
        position: static;
    }
    .brands_block {
        width: 100%;
    }
    .big_letter {
        margin-left: 10px;
    }
    .brand {
        width: 50%;
        font-size: 14px;
        margin: 20px 0;
    }
}