.cont {
    margin-top: 150px;
    margin-bottom: 70px;
}
.h {
    text-transform: uppercase;
    font-weight: 700;
}
.cont ul {
    list-style-type: disc;
}
.underline {
    color: black;
    text-decoration: underline;
    cursor: pointer;
}
.table_cont {
    display: flex;
    justify-content: center;
}
.table_block {
    width: 80%;
}
.referral_table .first_tr td {
    padding: 7px 7px 10px 7px;
    border-bottom: 1px solid black;
}
.referral_table td {
    padding: 7px;
    font-size: 14px;
    text-align: center;
}
.table_header {
    font-weight: 500;
    margin: 15px 0;
    text-align: center;
}
.simple_text {
    margin: 0;
    padding: 10px;
}
.select_anim {
    animation: select 1.5s ease;
}

@keyframes select {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}
@media (max-width: 1200px) {
    .cont {
        margin-top: 20px;
    }
}