.cont {
    width: 100%;
}
.title {
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
}
.big_letter {
    display: block;
    width: 100%;
    margin-top: 40px;
}
.link {
    background: black;
    color: white;
    display: block;
    border: none;
    outline: none;
    border-radius: 7px;
    width: fit-content;
    text-align: center;
    text-decoration: none;
    padding: 7px 100px;
}