.swiper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Центрируем содержимое по вертикали */
    align-items: center; /* Центрируем содержимое по горизонтали */
    margin-bottom: 10px;
    max-height: 50vh;
}

.promo_slide {
    width: 77%; /* Устанавливаем ширину слайда в 90% */
    margin: 0 auto; /* Центрируем слайд по горизонтали */
}

.promo_slide img {
    /*height: 22vh; !* Устанавливаем высоту изображения в 30% от высоты экрана *!*/
    width: 100%;
    border-radius: 3px; /* Добавляем скругление углов для изображения */
    object-fit: cover;
}

.img_slide {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Центрируем содержимое по вертикали */
    align-items: center; /* Центрируем содержимое по горизонтали */
    padding-bottom: 3px;
}

.promo_content {
    margin-top: 0px; /* Добавляем отступ сверху для контента */
    /*width: 90%;*/
}

.h3_promo {
    font-size: 20px;
    margin-bottom: 3px;
}

.p_promo {
    font-size: 12px;
}


.blocks_container {
    /*display: flex;*/
    margin-top: 10px;
    margin-bottom: 20px;
    width: 98%; /* Добавлено */
    font-weight: 600;
    margin: 0 auto;
}

.block img,
.sub_block img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    aspect-ratio: 1; /* Устанавливаем соотношение сторон 1:1 */
    object-fit: cover; /* Обрезаем изображение */
    /*border: 3px solid #dedede;*/
}

.block {
    flex: 1;
    width: 100%; /* Изменено */
    text-align: center;
    padding: 10px;

    border-radius: 10px;
    background-color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 3px;
}

.block_double {
    margin-bottom: 4px; /* Добавлено для создания пробела между блоками */
    flex: 2;
    display: flex;
    justify-content: space-between;
    width: 100%; /* Ширина установлена на 100% */
}

.sub_block {
    /*flex: 1;*/
    width: 49.4%;
    text-align: center;
    /*padding: 10px;*/
    /*border: 4px solid #dedede;*/
    border-radius: 10px;
    background-color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 0px; /* Оставлено без изменений */
    aspect-ratio: 1; /* Устанавливаем соотношение сторон 1:1 */
}


.sub_block:hover {
    background-color: lightblue;
}


.buttons_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 22px;
    /*margin-top: 10px;*/
    background-color: #dedede;
    border-radius: 10px;


}


.button_gender {
    flex: 1;
    /*background-color: transparent;*/
    background-color: #dedede;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    padding: 6px 20px;
    transition: background-color 0.3s ease;

}


.button_gender_active {
    background-color: #ffffff;
    border-radius: 10px;
    flex: 1;
    /*background-color: transparent;*/
    border: 3px solid #dedede;
    /*border: none;*/
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    padding: 5px 20px;
    /*background-color: ;*/
    transition: background-color 0.3s ease;
    text-decoration: underline;
    /*background-color: #dedede;*/
    /*box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); !* добавляем тень *!*/
}

.main_cont {
    margin-top: 130px;
    margin-bottom: 100px;
}

.cont {
    margin-top: 100px;
    margin-bottom: 100px;
}

.cont_index {
    margin-top: 160px;
    /*margin-bottom: 100px;*/
}

.main {
    padding-top: 0;
}

.main:hover {
    filter: brightness(70%);
    transition: filter 0.3s;
}


.big_pict_block {
    display: flex;
}

.collections {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.limitedMargin {
    margin-bottom: 30px;
}

.hr {
    margin: 40px 0;
}

.title_block {
    max-width: 50%;
}

.title_b {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem; /* my-5 */
    margin-bottom: 3rem; /* my-5 */
}

.title {
    font-weight: 500;
    font-size: 24px;
    margin: 0 auto;
}

.titleCentered {
    margin-bottom: 50px;
}

.btn_block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 15px;
}

.btn {

    background: black;
    text-align: center;
    color: white;
    border: none;
    outline: none;
    text-decoration: none;
    border-radius: 7px;
    cursor: pointer;
    padding: 15px 25px 15px 25px;
    margin-top: -15px;
    /*width: 100%;*/
}


.link {
    text-decoration: underline;
    font-size: 14px;
    color: #888888;
}

.link:hover {
    color: #464646;
}

.customButton {
    justify-content: center;
    display: flex;
    margin-top: -40px;
}

.linkMore {
    padding: 15px 40px;
    color: black;
    border: 1.5px solid black;
    border-radius: 10px;
    font-size: 16px;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-decoration: none;
    display: inline-block;
    min-width: 30%;
    width: 390px;
    max-width: 96%;
    text-align: center;
}

.linkMore:hover {
    background-color: black;
    color: white;
}


.more_btn {
    background: black;
    color: white;
    border: none;
    outline: none;
    text-decoration: none;
    border-radius: 7px;
    cursor: pointer;
    padding: 15px 25px 15px 25px;
    margin-top: -15px;
}

.desktop {
    display: flex;
}

.mobile {
    display: none;
}

.text_container {
    background: linear-gradient(0deg, black 0%, rgba(34, 34, 34, 0.56) 100%);
    padding: 40px 0 20px 0;
    margin-top: 35px;
}

.text {
    font-weight: 400;
    font-size: 20px;
    color: white;
    text-align: center;
    margin-bottom: 40px;
}

.toggle_btn {
    background: white;
    border-radius: 8px;
    color: black;
    border: none;
    outline: none;
    padding: 20px;
    font-size: 20px;
    box-shadow: 4px 4px 20px 2px #323232;
    transition: 0.3s;
}

.toggle_btn:hover {
    background: #e3e3e3;
}

@media (max-width: 1200px) {
    .collections {
        /*margin-top: 30px;*/
        margin-bottom: 50px;
    }

    .btn {
        background: white;
        text-align: center;
        color: black;
        /*border: none;*/
        font-weight: 500;
        outline: none;
        text-decoration: none;
        border-radius: 10px;
        cursor: pointer;
        padding: 15px 25px 15px 25px;
        margin-top: -15px;
        border: 1px solid black;
        width: 95vw;
        margin: 0 auto;
        margin-bottom: 25px;
    }

    .cont {
        margin-top: 0;
    }

    .headerW {
        display: flex;
        flex-direction: column;
        /*align-items: center;*/
        /*background: linear-gradient(90deg, black 0%, #2f0111 70%);*/
        /*background: linear-gradient(0deg, #21022c 30%, #ffffff 900%);*/
        width: 100%;
        /*margin-bottom: 2px;*/
    }

    .headerM {
        display: flex;
        flex-direction: column;
        /*align-items: center;*/
        /*background: linear-gradient(90deg, black 0%, #2f0111 70%);*/
        /*background: linear-gradient(0deg, #2f0111 20%, #ffffff 100%);*/
        /*background-color: white;*/
        width: 100%;
    }

    /* Стили для первой части: Логотип и крестик */
    .headerTop {
        display: flex;
        align-items: center;
        /*width: 100%;*/
        position: relative;
        margin-top: 15px;
        padding-bottom: 10px;
        margin-bottom: 25px;
        padding-left: 10px;
        border-bottom: #51031D 1.5px solid;
    }

    /* Логотип по центру */
    .logoContainer {
        display: flex;
        justify-content: center;
    }

    .logo {
        width: 45vw; /* Размер логотипа */
        height: auto;
        /*display: none;*/
    }

    .title_block {
        max-width: 100%;
    }

    .cont_index {
        margin-top: 105px;
    }

    .big_pict_block {
        flex-wrap: wrap;
    }

    .title {
        font-size: 25px;
        font-weight: 500;
    }

    .titleCentered {
        margin-bottom: 10px;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: flex;
    }

    .toggle_btn {
        font-size: 14px;
    }

    .text {
        font-size: 16px;
        font-weight: 500;
        padding: 0 10px;
    }

    .title_b {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px; /* my-5 */
        margin-bottom: 5px; /* my-5 */
    }

    .linkMore {
        margin-top: -20px;
    }

    .customButton {
        margin-top: 0;
    }
}


.margins {
    margin-right: 3vw;
    margin-left: 3vw;
}

@media (max-width: 1200px) {
    .margins {
        margin-right: 8px;
        margin-left: 8px;
    }
}

@media (min-width: 2000px) {
    .margins {
        margin-right: 10vw;
        margin-left: 10vw;
    }
}

@media (min-width: 2500px) {
    .margins {
        margin-right: 15vw;
        margin-left: 15vw;
    }
}

@media (max-width: 650px) {
    .margins {
        margin-right: 8px;
        margin-left: 8px;
    }
}


.paddings {
    padding-right: 3vw;
    padding-left: 3vw;
}

@media (max-width: 1200px) {
    .paddings {
        padding-right: 8px;
        padding-left: 8px;
    }
}

@media (min-width: 2000px) {
    .paddings {
        padding-right: 10vw;
        padding-left: 10vw;
    }
}

@media (min-width: 2500px) {
    .paddings {
        padding-right: 15vw;
        padding-left: 15vw;
    }
}

@media (max-width: 650px) {
    .paddings {
        padding-right: 8px;
        padding-left: 8px;
    }
}

.mainCategoriesContCont {
    margin-bottom: calc((10 / 1516) * 100vw);
}

.mainCategoriesCont {
    height: auto;
}

.mainCategoriesCont:hover {
    filter: brightness(80%);
    transition: filter 0.3s;
}

.mainCategoriesCont4 {
    height: calc((340 / 493) * (493 / 1516) * 100vw);
}

.mainCategoriesContImg {
}

.mainCategoriesButton {
    font-size: 16px;
    padding: 15px;
    background-color: transparent;
    color: black;
    border: 1px solid black;
    border-radius: 2px;
    width: 90%;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.mainCategoriesButton:hover {
    background-color: black;
    color: white;
}

@media (max-width: 1490px) {
    .mainCategoriesButton {
        font-size: 14px;
    }
}

@media (max-width: 1350px) {
    .mainCategoriesButton {
        font-size: 13px;
    }
}

.extraCategoriesCont {
    position: relative;
    margin-bottom: 70px;
}

.extraCategories {
    display: flex;
    overflow-x: auto;
    scrollbar-width: none; /* Для Firefox — скрытие скроллбара */
    -webkit-overflow-scrolling: touch; /* Для плавной прокрутки на iOS */
    -ms-overflow-style: none; /* Для Internet Explorer и Edge — скрытие скроллбара */
}

.extraCategories::-webkit-scrollbar {
    display: none;
}

.extraCategoriesImg {
    height: 230px;
    width: auto;
}

.extraCategoriesImg:hover {
    filter: brightness(80%);
    transition: filter 0.3s;
}

@media (max-width: 1200px) {
    .extraCategoriesImg {
        height: 170px;
        width: auto;
    }

    .extraCategoriesImg:hover {
        filter: none;
    }
}

.fullWidthImg:hover {
    filter: brightness(80%);
    transition: filter 0.3s;
    cursor: pointer;
}


.leftNew {
    position: absolute;
    border: none;
    right: 115px;
    bottom: -40px;
    z-index: 2;
    background-color: transparent;
}

.rightNew {
    position: absolute;
    border: none;
    right: 50px;
    bottom: -40px;
    z-index: 2;
    background-color: transparent;
}

@media (max-width: 1200px) {
    .leftNew {
        right: calc(115px + 8px);
    }

    .rightNew {
        right: calc(50px + 8px);
    }
}

@media (min-width: 2000px) {
    .leftNew {
        right: calc(115px + 10vw);
    }

    .rightNew {
        right: calc(50px + 10vw);
    }
}

@media (min-width: 2500px) {
    .leftNew {
        right: calc(115px + 15vw);
    }

    .rightNew {
        right: calc(50px + 15vw);
    }
}


/* Popular Brands Section */
.brandsSection {
    margin-bottom: 100px;
    position: relative;
}

.brandsTitle {
    font-size: 26px;
    margin-bottom: 20px;
    font-weight: 500;
    text-align: center;
}

.brandsGridCont {
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    overflow-x: auto; /* Включаем горизонтальную прокрутку */
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch; /* Для плавной прокрутки на iOS */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    align-items: center;
}

.brandsGridCont::-webkit-scrollbar {
    display: none;
}

.brandsGrid {
    display: grid;
    grid-template-columns: repeat(21, 87px);
    grid-template-rows: repeat(3, auto);
    gap: 17px;
}


.brandCircle {
    text-align: center;
}

.circle {
    width: 87px;
    height: 87px;
    border-radius: 50%;
    border: 0.85px solid #C7C7C7;
    margin-bottom: 7px;
    transition: border 0.2s ease, box-shadow 0.2s ease; /* Плавный переход для обводки и тени */
    position: relative; /* Для центрирования изображения внутри кружка */
    overflow: hidden; /* Чтобы изображение не выходило за границы кружка */
}

.circle:hover {
    border-color: black; /* Обводка становится чёрной */
    box-shadow: inset 0 0 5px 2px rgba(0, 0, 0, 0.25), /* Внутренняя тень */ 0 0 3px rgba(0, 0, 0, 0.25); /* Дополнительная внешняя тень для плавного эффекта */
    cursor: pointer;
}

.circleText {
    font-size: 11px;
    font-weight: 500;
}

.circleImage {
    width: 87px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Центрируем изображение по вертикали и горизонтали */
}


.moreLines {
    width: 200px;
    height: 316px;
    background-color: #E2E2E2;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-shrink: 0;
    margin-left: 20px;
    cursor: pointer;
    border-color: transparent; /* Начальное значение border-color */
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(0, 0, 0, 0);
    transition: border 0.3s ease, box-shadow 0.3s ease; /* Плавный переход для обводки и тени */
}

.moreLines:hover {
    border-color: black; /* Обводка становится чёрной */
    box-shadow: inset 0 0 5px 2px rgba(0, 0, 0, 0.25), /* Внутренняя тень */ 0 0 3px rgba(0, 0, 0, 0.25); /* Дополнительная внешняя тень для плавного эффекта */
}

.moreLinesText {
    font-size: 14px;
    padding-left: 5px;
    text-align: center;
    padding-right: 5px;
}

.newProductsTitle {
    font-size: 26px;
    margin-bottom: 20px;
    font-weight: 500;
    text-align: center;
}

.multiSectionCirclesTitle {
    font-size: 26px;
    margin-bottom: 20px;
    font-weight: 500;
    text-align: center;
}

.multiSectionCirclesGridRow {
    padding-left: 30px;
    padding-right: 30px;
    display: grid;
    grid-template-columns: repeat(12, max(85px, min(5.55vw, 105px)));
    grid-template-rows: repeat(2, auto);
    gap: 17px;
    overflow-y: hidden;
    overflow-x: auto; /* Включаем горизонтальную прокрутку */
    -webkit-overflow-scrolling: touch; /* Для плавной прокрутки на iOS */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}


.multiSectionCirclesGridRow::-webkit-scrollbar {
    display: none;
}

.centerContent {
    justify-content: center;
}


.multiSectionCirclesCircle {
    text-align: center;
}

.circle1 {
    width: max(85px, min(5.55vw, 105px));
    height: max(85px, min(5.55vw, 105px));
    border-radius: 50%;
    border: 0.85px solid #C7C7C7;
    margin-bottom: 7px;
    transition: border 0.2s ease, box-shadow 0.2s ease; /* Плавный переход для обводки и тени */
    position: relative; /* Для центрирования изображения внутри кружка */
    overflow: hidden; /* Чтобы изображение не выходило за границы кружка */
}

.circle1:hover {
    border-color: black; /* Обводка становится чёрной */
    box-shadow: inset 0 0 5px 2px rgba(0, 0, 0, 0.25), /* Внутренняя тень */ 0 0 3px rgba(0, 0, 0, 0.25); /* Дополнительная внешняя тень для плавного эффекта */
    cursor: pointer;
}

.circleText1 {
    font-size: 11px;
    font-weight: 500;
}

.circleImage1 {
    width: max(85px, min(5.55vw, 105px));
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Центрируем изображение по вертикали и горизонтали */
}


.mainCats {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-bottom: 2px;
}

.mainCatsRow {
    display: flex;
    gap: 2px;
}

.mainCat {
    display: block;
    width: calc(50% - 1px);
    height: auto;
}

@media (max-width: 1200px) {
    .extraCategoriesCont {
        margin-bottom: 50px;
    }

    .newProductsTitle {
        font-size: 22px;
    }
}