.cont {
    width: 100%;
    margin-bottom: 100px;
}
.title {
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
}
.card_container {
    margin-top: 20px;
    width: fit-content;
}
.card {
    position: relative;
    width:500px;
    height: 281px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 20px;
}
.bg_image {
    object-fit: cover;
    z-index: -1;
    border-radius: 20px;
}
.above_card {
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    margin-bottom: 10px;
    font-weight: 500;
}
.in_card_text {
    width: 100%;
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 0 10px;
}
.logo {
    width: auto;
    height: 50px;
    position: absolute;
    top: calc(50% - 25px);
}
.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
}
.first_row_td {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.table_block {
    margin: 50px 0;
}
.ff_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-weight: 500;
    text-align: center;
}
.tr_border {
    border-top: 1px solid #9A9999;
}
.table_block td {
    padding: 10px 15px;
    text-align: center;
}
.check {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 50%;
    top: 50%;
    margin: -10px 0 0 -10px;
}
.faq_block {
    padding: 0 10%;
    margin-bottom: 30px;
}
.amethyst_text {
    background: linear-gradient(90deg, #9E5EB5 60.36%, #CFC1D2 76.86%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.amethyst_circle {
    background: linear-gradient(117deg, #6402A3 20.75%, #F02CF8 76.5%);
}
.amethyst_shadow {
    box-shadow: 4px 4px 20px #9914B9;
}
.sapphire_text {
    background: linear-gradient(90deg, #0C64C4 60.36%, #133762 76.86%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.sapphire_circle {
    background: linear-gradient(117deg, #0C64C4 20.75%, #133762 76.5%);
}
.sapphire_shadow {
    box-shadow: 4px 4px 20px 2px #211144;
}
.emerald_text {
    background: linear-gradient(90deg, #20AD05 60.36%, #000900 76.86%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.emerald_circle {
    background: linear-gradient(127deg, #20AD05 15.84%, #000900 82.72%);
}
.emerald_shadow {
    box-shadow: 4px 4px 20px 2px #003C00;
}
.ruby_text {
    background: linear-gradient(90deg, #B95886 60.34%, #35041A 67.37%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.ruby_circle {
    background: linear-gradient(131deg, #B95886 17.1%, #35041A 79.93%);
}
.ruby_shadow {
    box-shadow: 4px 4px 20px 0px #81032B;
}
.diamond_text {
    background: linear-gradient(90deg, #D6D6D6 52.67%, #6A6B6B 71.36%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.diamond_circle {
    background: linear-gradient(128deg, #E5ECF2 17.9%, #6A6B6B 80.32%);
}
.diamond_shadow {
    box-shadow: 4px 4px 20px 0px #8F9190;
}
.privileged_text {
    background: linear-gradient(90deg, #C7C8CC 53.16%, #8B8C91 72.17%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.privileged_circle {
    background: linear-gradient(90deg, #C7C8CC 0%, #C7C8CC 50.52%, #8B8C91 100%);
}
.privileged_shadow {
    box-shadow: 4px 4px 20px 0px #7B7C81;
}
.ff_text {
    background: linear-gradient(90deg, #98999D 47.09%, #000612 77.27%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.ff_shadow {
    box-shadow: 4px 4px 20px 0px #000612;
}

.link {
    text-decoration: underline;
    cursor: pointer;
}

@media (max-width: 1200px) {
    .cont {
        width: 100%;
        margin-bottom: 0;
    }
    .above_card {
        font-size: 15px;
        flex-direction: column;
        text-align: center;
    }
    .card {
        width: 350px;
        height: 196px;
    }
    .logo {
        height: 40px;
    }
    .table_block {
        max-width: 100%;
        overflow-x: auto;
    }
    .table_block td {
        font-size: 12px;
        padding: 10px 5px;
        text-align: center;
    }
    .circle {
        height: 25px;
        width: 25px;
    }
    .check {
        height: 12px;
        width: 12px;
        margin: -6px 0 0 -6px;
    }
    .faq_block {
        padding: 0;
    }
    .questions_text {
        font-size: 16px;
    }
}