.cont {
    margin-top: 150px;
    margin-bottom: 70px;
}
.thanks_block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;

    font-size: 26px;
}
.header {
    display: flex;
    font-size: 20px;
    gap: 70px;
}
.header_text {
}
.info_block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.info_text {
    width: 60%;
    margin-top: 10px;
}
.link {
    color: black;
    text-decoration: underline;
    cursor: pointer;
}
.link:hover {
    color: black;
}
.faq_block {
    padding: 0 10%;
    margin-top: 50px;
    margin-bottom: 30px;
}
.icon {
    margin: 15px 0;
}
@media (max-width: 1200px) {
    .cont {
        margin-top: 20px;
    }
    .thanks_block {
        font-size: 18px;
    }
    .header {
        font-size: 16px;
        justify-content: space-between;
    }
    .info_block {
        width: 100%;
        font-size: 13px;
    }
    .info_text {
        width: 100%;
    }
    .faq_block {
        padding: 0;
    }
}