.cont {
    margin-top: 150px;
}
.border {
    border: 2px solid #222222;
    border-radius: 10px;
    padding: 10px;
    margin-right: 10px;
    background: transparent;
    cursor: pointer;
    outline: none;
    transition: 0.3s;
    white-space: nowrap;
    min-height: 51px;
}
.border:hover {
    background: rgba(0, 0, 0, 0.05);
}
.filter_toggle {
    border: 2px solid #222222;
    border-radius: 10px;
    padding: 10px;
    margin-right: 10px;
    background: transparent;
    cursor: pointer;
    outline: none;
    transition: 0.3s;
    font-weight: 700;
    display: flex;
    justify-content: center;
    text-align: center;
}
.filter_icon {
    margin-right: 5px;
    transform: translateY(4px);
}
.filter_sort_row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 10px 0;
    position: sticky;
    top: 0px;
    z-index: 6;

    transition: 0.3s;
    opacity: 1;
}
.filter_sort_row.visible {
    opacity: 1;
}
.mobile_sort_row {
    position: sticky;
    background: white;
    top: 0;
    z-index: 6;
    transition: 0.3s;
}
.product_list_row {
    display: flex;
    position: relative;
}
.modal {
    position: fixed;
    z-index: 20;
    top: 84px;
    left: 0;
    background: white;
    width: 100vw;
    height: 100dvh;
    padding: 15px 5px 150px 5px;
    overflow-y: scroll;
}
.modal_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.modal_header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.modal_text {
    font-weight: 700;
    font-size: 20px;
    margin-right: 10px;
}
.number {
    color: white;
    background: black;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    margin-right: 10px;
    line-height: 20px;
}
.modal_btn {
    border: 2px solid #222222;
    border-radius: 10px;
    padding: 10px;
    margin-right: 10px;
    background: transparent;
    cursor: pointer;
    outline: none;
    transition: 0.3s;
}
.modal_btn:hover {
    background: rgba(0, 0, 0, 0.05);
}
.results {
    width: 90%;
    background: black;
    color: white;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 7px;
    position: fixed;
    bottom: 20px;
    opacity: 0.85;
    z-index: 20;
}
.desktop {
    display: flex;
}
.mobile {
    display: none;
}
.text_container {
    background: linear-gradient(0deg, black 0%, rgba(34, 34, 34, 0.56) 100%);
    padding: 40px 0 20px 0;
    margin-top: 35px;
}
.text {
    font-weight: 400;
    font-size: 20px;
    color: white;
    text-align: center;
    margin-bottom: 40px;
}
.toggle_btn {
    background: white;
    border-radius: 8px;
    color: black;
    border: none;
    outline: none;
    padding: 20px;
    font-size: 20px;
    box-shadow: 4px 4px 20px 2px #323232;
    transition: 0.3s;
}
.toggle_btn:hover {
    background: #e3e3e3;
}
@media (max-width: 1200px) {
    .cont {
        margin-top: 0;
    }
    .border, .filter_toggle {
        border: none;
    }
    .modal_btn {
        padding: 5px;
        font-size: 14px;
    }
    .desktop {
        display: none;
    }
    .mobile {
        display: flex;
    }
    .toggle_btn {
        font-size: 14px;
    }
    .text {
        font-size: 16px;
        font-weight: 500;
        padding: 0 10px;
    }
}

@media (max-width: 600px) {
    .cont {
        margin: 0 0 0 0;
        padding-left: 7px;
        padding-right: 7px;
    }
}