.modal {
    width: 320px;
    padding: 10px 10px 10px 20px;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    opacity: 0.8;
    position: fixed;
    bottom: 30px;
    left: calc(50% - 160px);
    z-index: 1000;
}
.text {
    color: white;
    text-decoration: underline;
    font-size: 17px;
}
.btn {
    padding: 7px;
    background: white;
    outline: none;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 7px;
}

@media (max-width: 1000px) {
    .modal {
        width: 320px;
        padding: 10px 10px 10px 20px;
        border-radius: 7px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: black;
        opacity: 0.8;
        position: fixed;
        bottom: 20px;
        left: calc(50% - 160px);
        z-index: 1000;
    }
}