.input {
    position: relative;
    z-index: 6;
    width: 50%;
    margin: 18px 0 5px 0;
}
.mailing {
    width: 100%;
    border: 1px solid darkgrey;
    border-radius: 5px;
    outline: none;
    padding: 5px 25px 5px 5px;
    background: transparent;
    color: white;
}
.mailing::placeholder {
    font-style: italic;
    font-size: 14px;
}
.input .icon {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    cursor: pointer;
}
.validate {
    color: #940a0a;
    margin: 0;
}
@media (max-width: 1200px) {
    .input, .mailing {
        width: 100%;
    }
}