.dropdown_toggle {
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 15px;
    padding: 7px 0;
}
.dropdown_toggle:hover {
    transition: 0.3s;
    background: rgba(0, 0, 0, 0.05);
}
.dropdown_toggle_text {
    margin: 5px;
    display: flex;
    justify-content: space-between;
}
.dropdown_item {
    font-size: 13px;
    margin: 5px;
    cursor: pointer;
    padding: 5px 0;
}
.dropdown_item:hover {
    transition: 0.3s;
    background: rgba(0, 0, 0, 0.05);
}
.dropdown_item_text {
    margin: 5px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1200px) {
    .dropdown_toggle:hover {
        background: white;
    }
    .dropdown_toggle:active {
        background: rgba(0, 0, 0, 0.05);
    }
    .dropdown_item:hover {
        background: white;
    }
    .dropdown_item:active {
        background: rgba(0, 0, 0, 0.05);
    }
}