.text {
    /*padding-top: 4px;*/
    margin-top: 15px;
    /*margin-bottom: 10px;*/
    font-size: 14px;
    color: black;

    overflow: hidden;
    font-weight: 400;
    max-height: 87px;

    -webkit-transition: max-height 0.5s;
    -moz-transition: max-height 0.5s;
    -ms-transition: max-height 0.5s;
    -o-transition: max-height 0.5s;
    transition: max-height 0.5s;
    z-index: -2;
    white-space: normal;

    /*white-space: nowrap;*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
;
}

.text_open {
    max-height: none;
    z-index: 1;
    transition: max-height 0.5s ease;
}

.more_btn {
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    outline: none;
    background: none;
    border: none;
    margin-left: auto;
}
.more_text {
    margin-right: 15px;
    /*font-weight: 700;*/
    /*margin-bottom: 20px;*/
    display: flex;
    gap: 10px;
}


.main_block {
    justify-content: space-between;
    min-height: 40vh;
}
.row {
    flex-direction: row;
}
.row_reverse {
    flex-direction: row-reverse;
}
.column_reverse {
    flex-direction: column-reverse;
}
.text_block {
    width: 38%;
}
.text_cont h3 {
    font-size: 26px;
}
.text_cont a {
    color: black;
}

.img_block {
    width: 57%;
}
.img_cont {
    position: relative;
    height: 100%;
}
.logo {

}
.img {
    object-fit: contain;
    object-position: right top;
}
.desktop {
    opacity: 1;
}
.mobile {
    opacity: 0;
}

.texts {
    flex-direction: column;
    justify-content: center;
}

.firstLinePhoto {
    margin-top: -10px;
    font-style: italic;
    color: #7B7C81;
}

.secondLinePhoto {
    margin-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    font-style: italic;
    color: #2d2d2d;
}

.firstLine {
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    padding-bottom: 30px;
}

.secondLine {
    text-align: center;
    font-style: italic;
    color: grey;
    margin-top: -30px;
    padding-bottom: 20px;
}

.secondLine a {
    color: grey;
}

@media (max-width: 1000px) {
    .firstLine {
        margin-top: 30px;
        font-size: 22px;
        padding-bottom: 10px;
    }
    .secondLine {
        padding-bottom: 0;
        margin-top: -10px;
    }
    .firstLinePhoto {
        font-size: 16px;
    }
    .secondLinePhoto {
        padding-bottom: 0;
    }
    .main_block {
        flex-direction: column-reverse;
    }
    .text_block, .img_block {
        width: 100%;
    }
    .img_cont {
        height: 330px;
    }
    .text_cont {
        border: 1px solid #9a9999;
        border-radius: 7px;
        background: white;
        color: #8d8d8d;
        padding: 10px;
        font-size: 14px;
        margin: -75px 15px 0 15px;
    }
    .text_cont h3 {
        font-size: 26px;
    }
    .text_cont a {
        color: black;
    }
    .img {
        z-index: -1;
        object-position: center;
    }
    .desktop {
        opacity: 0;
    }
    .mobile {
        opacity: 1;
    }
    .single_text {
        margin-top: 30px;
    }
}