.toggle_btn {
    outline: none;
    border: none;
    background: transparent;
    margin: 0 10px 0 5px;
}

.list_icon {

}

.sidebar {
    position: absolute;
    z-index: 6;
    top: 0;
    left: 0;
    width: 101vw;
    height: 101vh;
    background: white;
    padding: 130px 0 0 0;
    overflow-y: scroll;
}

.header_block {
    padding-top: 20px;
    position: fixed;
    background: white;
    width: 101vw;
    top: 0;
    z-index: 3;
}

.sidebar_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
}

.genderButtons {
    text-align: center;
    display: flex;
    padding-bottom: 7px;
}

.genderHalf {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.genderLine {
    width: 100%; /* Adjust width as needed */
    height: 1px; /* Adjust height as needed */
    border: none;
    border-top: 1px solid #ccc; /* Match the default color of the <hr> element */
}

.genderButton {
    padding: 10px 20px; /* Adjust padding as needed */
    margin: 0 10px; /* Adjust margin as needed */
    color: #7B7C81;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0 20px 0 0;
    transition: 0.3s;
    text-decoration: none;
}

.genderSeparator {
    width: 1px; /* Width of the separator */
    height: 50px; /* Height of the separator, adjust as needed */
    background-color: #ccc; /* Color of the separator, similar to hr color */
    margin: 0 5px; /* Adjust margin as needed */
}

.selectedGender {
    text-decoration: underline; /* Underline the text */
    color: black;
}






.header_block hr {
    margin-bottom: 0;
}

.auth_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 20px;
    margin-top: 15px;
    width: 100%;
    text-decoration: none;
}

.person_block {
    display: flex;
    align-items: center;
}

.person_icon {
    width: 20px;
    margin-right: 10px;
}

.hrBottom {
    border: none;
    border-top: 1px solid #999; /* Gray line */
    margin-top: 50px; /* Adjust margin as needed */
}

.section_container {
    padding: 0 20px;
    position: relative;
}

.back_cont {
    position: fixed;
    padding: 15px 20px 5px 20px;
    top: 110px;
    left: 0;
    background: white;
    width: 100%;
    z-index: 1;
}

.back_btn {
    display: flex;
    align-items: center;
    outline: none;
    border: none;
    background: transparent;
}

.back_icon {
    transform: rotate(180deg);
    margin-right: 10px;
}

.section_block {
    display: flex;
    justify-content: space-between;
    padding: 17px 20px;
    text-decoration: none;
    color: black;
}

.section_block:active {
    background: #e3e3e3;
}

.all_link_block {
    position: sticky;
    width: 100%;
    background: white;
    z-index: 1;
    padding: 10px 0;
}

.all_link {
    color: #8d8d8d;
    font-size: 18px;
}

.img_cont {
    position: relative;
    width: 100%;
    height: 60vh;
}

.col {
    margin: 20px 0;
}

.truck {
    margin-left: 7px;
}

.sale {
    color: #940a0a;
}

.sidebar_footer {
    background: black;
    height: 100%;
    margin-top: 10px;
    padding: 4px 20px;
}

.sidebar h4 {
    font-size: 18px;
}

.sidebar_text {
    color: #c4c0c0;
    display: block;
    margin: 10px 0;
}

.sidebar_links {
    text-decoration: none;
    color: #c4c0c0;
    display: block;
    margin: 10px 0;
}

.sidebar_links:hover {
    color: #9a9999;
}

.icon {
    cursor: pointer;
}

.link {
    color: #000;
}
.icons_block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    gap: 25px;
}

.icons_block2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px 0 20px;
    gap: 25px;
}


.socialsBlock {
    display: flex;
    align-items: center;
    gap: 10px;
}

.socialsCont {
    display: flex;
    align-items: center;
}
.mainSocialsText {
    margin-left: 10px;
    color: black;
    font-size: 16px;
    font-family: inherit;
    text-align: left;
}
.mainSocialsText2 {
    margin-left: 10px;
    color: white;
    font-size: 16px;
    font-family: inherit;
    text-align: left;
}
.linkTgSocials2 {
    text-decoration: underline; /* Подчёркивание текста */
    color: white;
}
.linkTgSocials {
    text-decoration: underline; /* Подчёркивание текста */
    color: black;
}

.page2 {
    display: flex;
    justify-content: center;
}

.page2Img {
    width: 100vw;
    height: auto;
    display: block;
}

.footer_link {
    text-decoration: none;
    color: #c4c0c0;
    display: block;
    margin: 10px 0;
    transition: 0.3s;
}

.footer_link:active {
    color: #9a9999;
}

.social_media {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.faq_block {
    padding: 0;
    margin-bottom: 30px;
    text-align: left;
}

.text {
    font-weight: 500;
}

@media (max-width: 1000px) {
    .faq_block {
        padding: 0;
    }
}