.section {
    max-height: fit-content;
}
.toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
}
.h {
    text-transform: uppercase;
    font-weight: 700;
}
.children {
    -webkit-transition: max-height 0.5s;
    -moz-transition: max-height 0.5s;
    -ms-transition: max-height 0.5s;
    -o-transition: max-height 0.5s;
    transition: max-height 0.5s;
    overflow: hidden;
    max-height: 0;
}
.open {
    max-height: none;
    transition: max-height 0.5s ease;
}

