.btn {
    width: 80%;
    color: white;
    background: black;
    border-radius: 7px;
    padding: 10px;
}
.white_btn {
    /*color: black;*/
    background: white;
    border: 1px solid black;
    border-radius: 7px;
    padding: 10px;
}
.icon {
    margin: 10px;
    cursor: pointer;
}
.close_block {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.title {
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}
.input {
    width: 100%;
    outline: none;
    border: 1px solid #9a9999;
    border-radius: 7px;
    padding: 5px;
    margin: 5px 0;
}
.sug_block {
    margin-top: -5px;
    border: 1px solid #9a9999;
    border-top: none;
    border-radius: 0 0 7px 7px;
    max-height: 150px;
    overflow-y: scroll;
}
.sug_item {
    cursor: pointer;
    padding: 3px;
}
.sug_item:hover {
    background: rgba(0, 0, 0, 0.05);
}
.checkbox_block {
    display: flex;
    justify-content: center;
    margin: 7px 0;
}
.main_address {
    color: #9a9999;
    text-decoration: underline;
}
.add_btn {
    color: white;
    background: black;
    border-radius: 7px;
    padding: 10px;
    width: 100%;
}
.btn_block {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.delete_btn {
    width: 49%;
    color: black;
    background: white;
    outline: none;
    border-radius: 7px;
    border: 1px solid black;
    padding: 7px;
}
.save_btn {
    width: 49%;
    color: white;
    background: black;
    border-radius: 7px;
    padding: 7px;
}
@media (max-width: 1200px) {
    .btn {
        width: 100%;
    }
}