
.toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
}


.white_rectangle {
    position: absolute;
    width: 100%;
    height: 4px; /* Замените на нужную высоту */
    background-color: white;
    z-index: -1; /* Помещаем белый прямоугольник под другие элементы */
}

.text_block {

    /*margin-top: -1px;*/
    -webkit-transition: max-height 0.5s;
    -moz-transition: max-height 0.5s;
    -ms-transition: max-height 0.5s;
    -o-transition: max-height 0.5s;
    transition: max-height 0.5s;
    overflow: hidden;
    max-height: 0;

    /*border-top: 1px solid black;*/

    z-index: -2;
}
.open {
    max-height: none;
    z-index: 1;
    transition: max-height 0.5s ease;
}
.toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-weight: 500;
    cursor: pointer;
}



.dropdown {
    width: 100%;
    border: 1px solid black;
    z-index: 10;
    background-color: #FFFFFF;
}


.dropdown_detail {
    position: relative; /* Должен быть относительным, чтобы дочерний элемент мог быть абсолютным */
    overflow: hidden; /* Скрыть содержимое, которое выходит за пределы блока */
    margin-top: -1px;
    width: 100%;
    border: 1px solid black;
    border-radius: 0px 0px 7px 7px;
    z-index: 0;
}

.dropdown_wrapper {
    /*position: relative;*/
    width: 100%;
    overflow: hidden; /* Ограничиваем область видимости содержимого */
    position: relative
}


.dropdown_wrapper {
    position: relative; /* Родительский элемент должен быть относительным */
}


.slideInFromTop {
    animation: slideInFromTop 0.2s ease;
}

.slideOutToTop {
    animation: slideOutToTop 0.5s ease;
}


.header {
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    z-index: 1;

}
.header_text {
    font-size: 20px;
    width: 33%;
}
.header_block {
    display: flex;
    flex-grow: 1;
}
.header_col {
    display: flex;
    width: 100%;
}
.header_col2 {
    display: flex;
    width: 60%;
}
.num {
}
.date {
}
.sum {
}
.status {
    width: 50%;
}
.icon_block {
}
.icon {
    cursor: pointer;
}
.details_block {

}
.order {
    border-bottom: 1px solid black;
}
.row {
    min-height: 300px;
    display: flex;
}
.inner_row {
    display: flex;
    flex-grow: 1;
}
.col1 {
    width: 24%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.img {
    width: 100%;
}
.col {
    width: 24%;
}

.brand {
    color: #727272;
    margin-bottom: 5px;
}

.number_block {
    margin-top: 16px;
}

.ship_block {
    margin-top: 22px;
}

.icon {
    cursor: pointer;
}
.final_block {
    display: flex;
    padding: 15px;
    justify-content: end;
}
.final_col {
    width: 49%;
}
.prices {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
}
.hr {
    /*visibility: hidden;*/
}
.blackDivider {
    border-top: 1px solid black;
}
.whiteDivider {
    border-top: 1px solid #ffffff;
}





@media (max-width: 1200px) {
    .header_col {
        display: block;
    }
    .header_col2 {
        display: block;
    }
    .num {
        width: 100%;
    }
    .date {
        width: 100%;
    }
    .sum {
        width: 100%;
    }
    .status {
        width: 100%;
    }
    .header_text {
        font-size: 15px;
    }
    .inner_row {
        flex-direction: column;
        flex-grow: 1;
    }
    .col1 {
        align-items: center;
        width: 200px;
    }
    .col {
        width: 100%;
    }
    .brand {
        font-size: 12px;
    }
    .text {
        font-size: 12px;
    }
    .dropdowns {
        margin-top: 10px;
    }
    .final_block {
        flex-wrap: wrap;
        gap: 5px;
    }
    .final_col {
        width: 100%;
    }
    .ship_block {
        margin-top: 14px;
    }
    .prices {
        font-size: 14px;
    }
    .hr {
        visibility: visible;
    }

    .slideInFromTop {
        animation: slideInFromTop 0.4s ease;
    }

    .slideOutToTop {
        animation: slideOutToTop 1s ease;
    }
}