.card {
    width: 240px;
    height: 405px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    cursor: pointer;
    text-decoration: none;
}

.bigCard {
    width: calc(min(60vw, 260px));
    height: calc(105px + min(60vw, 260px) + 40px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    cursor: pointer;
    text-decoration: none;
}

.empty_card {
    width: 200px;
    height: 350px;
    padding: 15px;
    display: flex;
    /*border: solid 1px #4f4f4f;*/
    flex-direction: column;
    cursor: pointer;
    text-decoration: none;
    background-color: #eeeeee;
    border-radius: 10px;

    align-items: center;
    justify-content: center;

}

.card_list {
    width: 356px;
    height: 590px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    cursor: pointer;
    text-decoration: none;
}

.icons_block {
    display: flex;
    justify-content: space-between;
}

.sale {
    background: rgba(255, 0, 0, 0.08);
    color: rgba(182, 18, 18, 0.85);
    font-size: 12px;
    user-select: none;
    padding: 3px 0px 2px 0px;
    border-radius: 9px;
    width: 46px;

    font-weight: 600;
    /*border-width: 1px; !* Толщина границы *!*/
    /*border-color: rgb(0, 0, 0); !* Цвет границы (в данном случае, красный) *!*/
    /*border-style: solid; !* Стиль границы (по умолчанию, сплошная линия) *!*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*margin-right: 5px;*/
}

.truck {
    margin-right: 5px;
    user-select: none;
}


.like_block {
    width: 30px;
    height: 30px;
    border-radius: 7px;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.like_block:hover {
    background: #e5e3e3;
}

.like {
    cursor: pointer;
}

.img {
    height: 180px;
    width: 250px;
    align-self: center;
}

.text_block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 5px;
    min-height: 135px;
    z-index: -1;
}

.text_block_small {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 5px;
    min-height: 90px;
    z-index: -1;
}

.text_block_big_card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 5px;
    min-height: 103px;
    z-index: -1;
}

.skeleton {
    width: 100%;
    height: 30px;
    background: linear-gradient(90deg, #e0e0e0 25%, #f5f5f5 50%, #e0e0e0 75%);
    background-size: 200% 100%;
    animation: shimmer 3s infinite;
    border-radius: 4px; /* Для слегка закругленных углов */
}

@keyframes shimmer {
    0% {
        background-position: -200% 0;
    }
    100% {
        background-position: 200% 0;
    }
}

.price_block {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.info {
    max-height: 125px;
    height: 125px;
    margin-bottom: 5px;
    overflow-y: clip;
}

.infoSmall {
    max-height: 70px;
    height: 70px;
    margin-bottom: 5px;
    overflow-y: clip;
}

.tag {
    color: black;
    font-size: 16px;
    font-weight: 500;
}

.colorway {
    color: #727272;
    font-size: 13px;
}


.placeholder {
    margin-top: 2px;
    margin-bottom: 2px;
    background: linear-gradient(to right, #c9c9c9, white);
    background-color: #c9c9c9;
    border-radius: 2px;
    color: transparent; /* Делаем текст невидимым */
    background-size: 200% auto; /* Увеличиваем размер градиента */
    animation: gradientAnimation 2s infinite; /* Применяем анимацию */
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}



.brand {
    font-weight: 400;
    font-size: 13px;
    color: #222222;
    max-height: 85px;
}

.location {
    font-weight: 500;
    font-size: 13px;
    color: #222222;
    display: -webkit-box;
    -webkit-line-clamp: 3;      /* Количество строк, после которых обрезаем */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; /* Добавляем многоточие для обрезанного текста */
}

.name {
    color: #222222;
}

.price {
    /*color: #545454;*/
    color: black;
    margin-top: auto;
    font-weight: 500;
    font-size: 16px;
    /*font-size: 14pt;*/
}


.crossed {
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 100;
    /*font-size: 14pt;*/

}

.flexRow {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flexColumn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.sale_price {
    color: #940a0a;
    /*color: rgba(182, 18, 18, 0.84);*/
    font-size: 110%;
    /*font-size: 16pt;*/
    /*font-weight: 600;*/
    /*font-size: 20px;*/
}

.image_container {
    position: relative;
    min-width: 100%;
    max-width: 100%;
    height: 100%;
    /*z-index: 0;*/
    /*z-index: ;*/
}

.swiper_container {
    position: relative;
    min-width: 100%;
    max-width: 100%;
    height: 100%;
    /*z-index: -1;*/
}

.sm_image_container {
    position: relative;
    width: 100%;
    height: 150px;
}

.sm_card {
    width: 210px;
    height: 235px;
    margin: 0 0 0 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    cursor: pointer;
    font-size: 13px;
    flex-shrink: 0;
}

.sm_img {
    height: 100px;
    width: 200px;
    align-self: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.circle {
    width: 50px; /* Adjust size as needed */
    height: 50px;
    border-radius: 50%;
    border: solid 1px rgba(0, 0, 0, 0.8);
    /*background-color: #494949; !* Adjust color as needed *!*/
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px; /* Space between circle and text */
}

.arrow {
    color: rgba(0, 0, 0, 0.8); /* Adjust arrow color as needed */
    font-size: 34px; /* Adjust arrow size as needed */
    margin-top: -3px;
}

.text {
    font-size: 14px; /* Adjust text size as needed */
    color: rgba(0, 0, 0, 0.8); /* Adjust text color as needed */
    font-weight: 500;
}


@media (max-width: 1515px) {
    .card_list {
        width: 325px;
        height: 547px;
    }

    .text_block {
        min-height: 130px;
    }

}

@media (max-width: 1385px) {
    .card_list {
        width: 300px;
        height: 517px;
    }

    .text_block {
        min-height: 130px;
    }
}

@media (max-width: 1300px) {
    .card_list {
        width: 280px;
        height: 517px;
    }

    .text_block {
        min-height: 135px;
    }
}

@media (max-width: 1210px) {
    .card_list {
        width: 33%;
        height: 527px;
    }

    .text_block {
        min-height: 135px;
    }
}

@media (max-width: 1200px) {
    .skeleton {
        margin-top: -20px;
    }
}

@media (max-width: 850px) {
    .card {
        width: 200px;
        height: 300px;
    }
}


@media (max-width: 850px) {
    .card {
        width: 172px;
        height: 270px;
    }

    .empty_card {
        width: 172px;
        height: 290px;
        padding: 0;
        margin: 10px 10px;
    }

    .card_list {
        width: 48%;
        height: 407px;
        padding: 0;
        margin: 20px 0;
    }

    .text_block {
        min-height: 130px;
    }

    .text_block_big_card {
        /*height: 30%;*/
        min-height: 103px;
    }

    .img {
        height: 85px;
        width: 120px;
        align-self: center;
    }

    .info {
        max-height: 100px;
    }

    .tag, .brand, .name {
        font-size: 13px;
        overflow: hidden;
        text-overflow: ellipsis; /* Добавляем многоточие для обрезанного текста */
        /*white-space: nowrap; !* Запрещаем перенос текста на новую строку *!*/

    }
    .brand {
        font-size: 12px;
        max-height: 57px;
        display: -webkit-box;
        -webkit-line-clamp: 3;      /* Количество строк, после которых обрезаем */
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    .colorway{
        font-size: 11px;
        /*max-width: 49%; !* Измените на нужное значение *!*/
        /* Устанавливаем свойства для обрезки текста */
        overflow: hidden;
        text-overflow: ellipsis; /* Добавляем многоточие для обрезанного текста */
        white-space: nowrap; /* Запрещаем перенос текста на новую строку */
    }

    .image_container {
        height: 90%;
    }

    .crossed{
        font-size: 14px;
        display: block;
    }
    .sale_price{
        font-size: 100%;
        display: block;
        margin-top: -5px;
    }

}

@media (max-width: 410px) {
    .card {
        width: 161px;
        height: 265px;
    }
}