.toggle_btn {
    border: none;
    outline: none;
    background: transparent;
    font-size: 13px;
    color: #727272;
    transition: 0.3s;
    display: flex;
    align-items: center;
    padding: 10px 0;
}
.toggle_btn:hover {
    color: #444444;
}
.close {
    display: flex;
    justify-content: flex-end;
}
.icon {
    min-width: 34px;
    height: auto;
}
.label {
    text-align: left;
    font-size: 15px;
}
.text_block {
    text-align: center;
    margin: 30px 50px;
}
@media (max-width: 1000px) {
    .text_block {
        margin: 0 0;
    }
}