.title_block {
    max-width: 50%;
}
.title {
    font-size: 19px;
    margin-bottom: 20px;
    font-weight: 600;
}
.margins {
    margin-right: 3vw;
    margin-left: 3vw;
}
@media (max-width: 1200px) {
    .margins {
        margin-right: 8px;
        margin-left: 8px;
    }
    .title {
        margin-bottom: 10px;
    }
}
@media (min-width: 2000px) {
    .margins {
        margin-right: 10vw;
        margin-left: 10vw;
    }
}
@media (min-width: 2500px) {
    .margins {
        margin-right: 15vw;
        margin-left: 15vw;
    }
}
@media (max-width: 650px) {
    .margins {
        margin-right: 8px;
        margin-left: 8px;
    }
}