.toggle_btn {
    border: none;
    outline: none;
    text-decoration: underline;
    background: transparent;
    font-size: 14px;
    color: #727272;
    transition: 0.3s;
    margin-top: 0;
}
.toggle_btn:hover {
    color: #444444;
}
.modal {
    max-width: 50vw;
}
.close {
    display: flex;
    justify-content: space-between;
}
.header {
    font-size: 20px;
}
.info_block {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 40px 0;
}
.img_cont {
    width: 35%;
    position: relative;
    min-height: 100px;
}
.img {
    object-fit: contain;
    object-position: center;
}
.text_block {
    flex: 1;
    min-height: 100px;
}
.description {
    font-size: 12px;
}
.warning {
    font-size: 14px;
    color: black;
    margin-top: 10px;
    font-style: italic;
}
.btns_block {
    display: flex;
    overflow-x: auto;
}
.btns_block::-webkit-scrollbar {
    display: none;
}
.btn {
    font-size: 16px;
    font-weight: 700;
    padding: 15px 0;
    background: transparent;
    border: none;
    border-bottom: 1px solid;
    outline: none;
    flex: 1;
    min-width: 150px;
}
.table_block {
    color: #626161;
    text-align: center;
    height: 395px;
    overflow: auto;
}
.first_row {
    color: black;
    font-weight: 500;
}
.tr_gray {
    background: #d7d7d7;
}
.td {
    padding: 10px 20px;
    font-size: 16px;
    white-space: nowrap;
}
@media (max-width: 1000px) {
    .toggle_btn {
        margin-top: 0;
    }
    .modal {
        max-width: 100vw;
    }
    .table_block {
        max-height: 90vh;
        height: auto;
    }
    .text_block {
        height: auto;
    }
}