.dropdown {
    margin-top: 4px ;
    border: 1px solid black;
    border-radius: 7px;
    overflow: hidden;
    z-index: 1;
    opacity: 1;
    background-color: #FFFFFF;
}
.dropdown_content {
    max-height: 200px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
.dropdown_content::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.dropdown_content {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.text {
    min-height: 48px;
    /*padding: 1px;*/
    align-items: center;
    padding-right: 15px;
    padding-left: 15px;
    /*margin-left: 12px;*/
    /*margin-right: 12px;*/
    /*font-size: 11pt;*/
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    /*color: #6A6B6B;*/
    font-weight: 500;
}
.text:hover {
    background: rgba(0, 0, 0, 0.05);
}
.items {
    padding: 10px;
    border-top: 1px solid black;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.items:hover {
    background: rgba(0, 0, 0, 0.05);
}
.size_block {
    display: flex;
    align-items: center;
}

.price {
    font-weight: 700;
}
.crossed {
    text-decoration: line-through;
}
.sale_price {
    margin-left: 10px;
    color: #940a0a;
    /*color: ;*/
}
.icons {
    font-weight: 700;
    margin-right: 10px;
}
.inputWrapper {
    position: relative;
    display: inline-block;
    margin-left: 10px;
}

.input {
    padding: 6px 24px 6px 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 200px;
    font-size: 14px;
}

.ruble {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 14px;
    color: #555;
}

.crossed_text {
    font-weight: 700;
    margin-right: 10px;
    text-decoration: line-through;
}
.items_not {
    padding: 10px;
    border-top: 1px solid black;
    display: flex;
    justify-content: space-between;
}
.link {
    display: inline;
    background: transparent;
    border: none;
    outline: none;
    color: black;
    margin-left: 2px;
    text-decoration: underline;
}
.link:hover {
    color: black;
}