.header {
    background: white;
    padding: 0 0 0 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;

    transition:  0.3s;
    transform: translateY(-100%);
}
.header.visible {
    transform: translateY(0);
}

.headerMob {
    background: transparent;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 10;

    transition:  0.5s;
    transform: translateY(100%);
}
.headerMob.visibleMob {
    transform: translateY(0);
}

@supports (height: 100dvh) {
    .headerMob {
        /*height: calc(50px + env(safe-area-inset-bottom)); !* Учет динамических изменений *!*/
    }
}

.headerM {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0px;
    margin-top: 20px;
    height: 90px;
}

.logoM {
    display: flex;
    align-items: center;
}

.logoImage {
    height: auto;
    width: auto;
    object-fit: contain;
}

.navContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px; /* расстояние между двумя navWrapper */
}

.navWrapper {
    border: 1px solid #ccc;
    border-radius: 999px;
    padding: 14px 30px;
}

.navList {
    display: flex;
    gap: 28px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navList li {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    color: black;
    cursor: pointer;
    transition: color 0.3s ease;
}

.navList li::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 1px;
    background-color: gray;
    transition: width 0.3s ease;
}

.navList li:hover {
    color: gray;
}

.navList li:hover::after {
    width: 100%;
}

.row1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.row2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.block {
    display: flex;
    align-items: center;
    width: 33%;
}
.logo_block {
    display: flex;
    align-items: center;
    width: 33%;
}
.block1 {
    display: flex;
    align-items: center;
}
.links {
    color: black;
    text-decoration: none;
    cursor: pointer;
    margin: 0 25px 0 0;
    transition: 0.3s;
}
.links:hover {
    color: #8d8d8d;
}
.sale_link {
    color: #940a0a;
    text-decoration: none;
    cursor: pointer;
    margin: 0 20px 0 0;
    transition: 0.3s;
}
.sale_link:hover {
    opacity: 0.6;
}
.logo {
    font-size: 40px;
    transform: translate(-0%, -5px);
    user-select: none;
    text-align: center;
    cursor: pointer;
    height: 37px;
    width: auto;
}
.auth_block {
    display: flex;
    cursor: pointer;
    text-decoration: none;
}
.icons {
    width: 25px;
    cursor: pointer;
}
.name {
    transform: translateX(10px);
    color: black;
}
.truck {
    margin-left: 5px;
}
.h_text {
    margin-bottom: 20px;
    user-select: none;
    font-size: 20px;
}
.pic_block {
    display: flex;
    justify-content: flex-end;
}
.megamenu_links {
    display: block;
    text-decoration: none;
    cursor: pointer;
    color: black;
    transition: 0.3s;
    margin: 5px 0;
    font-size: 14px;
}
.megamenu_links:hover {
    opacity: 0.7;
}

.megamenu_row {
    display: flex;
}
.cols_block {
    display: flex;
}
.cols {
    min-width: 17%;
}
.img_col {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}
.link_block {
    width: 100%;
    text-align: right;
}
.img_cont {
    position: relative;
    width: 100%;
    height: 400px;
}
.img {
    object-fit: contain;
    object-position: right top;
}
.img_link {
    cursor: pointer;
    color: #8d8d8d;
}
@media (max-width: 1200px) {
    .logo {
        font-size: 26px;
        transform: translateX(0px);
        height: 25px;
    }
    .icons {
        width: 25px;
        margin: 0 10px;
    }
    .row2 {
        display: none;
    }
}
@media (max-width: 600px) {

    .icons_profile {
        /*margin-left: 30px;*/
        cursor: pointer;
        position: relative;
        width: 26px;
        margin: 0 5px 0 7px;
    }
    .block {
        width: auto;
    }
    .logo_block {
        flex: 1;
        margin: 0 10px;
    }
    .logo {
        width: 100%;
        height: auto;
        max-height: 30px;
    }
}

.fraer {
    background: rgb(236,39,18);
    background: linear-gradient(90deg, rgba(236,39,18,1) 0%, rgba(244,126,8,1) 16%, rgba(232,255,2,1) 35%, rgba(62,234,18,1) 51%, rgba(0,228,255,1) 62%, rgba(23,36,203,1) 76%, rgba(193,9,248,1) 100%);
    animation: skeleton 5s linear infinite, gradientChange 5s linear infinite;
    text-align: center;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    font-size: 100px;
    text-transform: uppercase;
}

@keyframes skeleton {
    0%, 100% {
        background-position: 100% 0;
    }
    50% {
        background-position: -100% 0;
    }
}
@keyframes gradientChange {
    0% {
        background-size: 200% 100%;
        background-position: 100% 0;
    }
    100% {
        background-size: 200% 100%;
        background-position: -100% 0;
    }
}

.genderButton {
    background-color: transparent;
    border: none;
    /*padding: 10px 20px; !* Adjust padding as needed *!*/
    /*margin: 0 10px; !* Adjust margin as needed *!*/
    color: rgba(0, 0, 0, 1);

    cursor: pointer;
    margin: 0 25px 0 0;
    transition: 0.3s;
    text-decoration: none;
}

.genderButton:hover {
    background-color: transparent;
    border: none;
    /*padding: 10px 20px; !* Adjust padding as needed *!*/
    /*margin: 0 10px; !* Adjust margin as needed *!*/
    color: #8d8d8d;

    cursor: pointer;
    margin: 0 25px 0 0;
    transition: 0.3s;
    text-decoration: none;
}

.selectedGender {
    text-decoration: underline; /* Underline the text */
    color: black;
        /*text-decoration: none;*/
    cursor: pointer;
    margin: 0 25px 0 0;
    transition: 0.3s;
}

/* BottomNav.module.css */
.bottom_nav {
    height: 60px;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;

    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.07); /* мягкая тень */
}

.nav_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.icon_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

